.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  border-top-style: solid;
  border-width: 1px;
  border-color: #757575;
  background: #fff;
}

.footer-font {
	font-family: "Telegrotesk Next Regular";
	font-size: 14px;
	color: #757575;
}

.footer-copyright {
	position: fixed;
	left: 24px;
	bottom: 3px;
}

.footer-imprint {
	position: fixed;
	right: 160px;
	bottom: 3px;
}

.footer-dp {
	position: fixed;
	right: 20px;
	bottom: 3px;
}

.footer-dp-logo {
	position: fixed;
	right: 100px;
	bottom: 18px;
}

.c19-logo {
	position: fixed;
	top: 20px;
	left: 50%;
	width: 100%;
	margin-left: -110px;
	font-family: "Telegrotesk Next Bold";
	font-size: 21px;
	color: #262626;
}

.text-dp {
  margin: 100px 5%;
  font-family: "Telegrotesk Next Regular";
  font-size: 18px;
  color: #262626
}

.text {
 	position: absolute;
 	left: 50%;
 	width: 600px;
 	margin-left: -300px;
 	text-align: center;
 	font-family: "Telegrotesk Next Regular";
 	font-size: 18px;
 	color: #262626;
}

.text-bold {
 	position: absolute;
 	left: 50%;
 	width: 600px;
 	margin-left: -300px;
 	text-align: center;
 	font-family: "Telegrotesk Next Bold";
 	font-size: 18px;
 	color: #262626;
}

.text-big {
	position: relative;
	text-align: center;
	font-family: "Telegrotesk Next Thin";
	font-size: 48px;
	color: #262626;
}

.text-error {
	position: fixed;
	left: 50%;
	width: 600px;
	margin-left: -300px;
	text-align: center;
	font-family: "Telegrotesk Next Bold";
	font-size: 18px;
	color: #ffffff;
}

.button {
	position: absolute;
	left: 50%;
	width: 500px;
	height: 40px;
	margin-left: -250px;
  margin-bottom: 100px;
	font-family: "Telegrotesk Next Regular";
	font-size: 18px;
	color: #FFFFFF;
	background: #7e7e7e;
	border-width: 1px;
	border-radius: 4px;
	border-color: #7e7e7e;
}

.input {
	position: absolute;
	left: 50%;
	width: 485px;
	height: 45px;
	line-height: 45px;
	margin-left: -250px;
	padding-left: 10px;
	font-family: "Telegrotesk Next Regular";
	font-size: 18px;
	color: #262626;
	border-width: 1px;
	border-radius: 4px;
	border-color: #dddddd;
}

.radiobutton {
	position: absolute;
	left: 50%;
	height: 45px;
	line-height: 45px;
	margin-left: -250px;
	padding-left: 10px;
	font-family: "Telegrotesk Next Regular";
	font-size: 18px;
	color: #262626;
	border-width: 1px;
	border-radius: 4px;
	border-color: #dddddd;
}

.error {
	position: fixed;
	left: 50%;
	width: 480px;
	margin-left: -250px;
	padding: 10px;
	font-family: "Telegrotesk Next Bold";
	font-size: 14px;
	color: #ffffff;
	background-color: #ff6400;
	border-width: 1px;
	border-radius: 4px;
	border-color: #ff6400;
}

.success {
	position: fixed;
	left: 50%;
	width: 480px;
	margin-left: -250px;
	padding: 10px;
	font-family: "Telegrotesk Next Bold";
	font-size: 14px;
	color: #ffffff;
	background-color: #00ff00;
	border-width: 1px;
	border-radius: 4px;
	border-color: #00ff00;
}

.user {
	position: fixed;
 	right: 40px;
	top: 20px;
 	font-family: "Telegrotesk Next Regular";
 	font-size: 18px;
 	color: #262626;
}

.button-logout {
	position: fixed;
 	right: 40px;
	top: 50px;
	width: 100px;
	visibility: hidden;
 	font-family: "Telegrotesk Next Regular";
 	font-size: 18px;
 	color: #262626;
	border-width: 1px;
	border-radius: 4px;
	border-color: #dddddd;
	background-color: #ffffff;
}

.show {
	visibility: visible;
}

.qr-code {
	position: fixed;
	left: 50%;
	width: 180px;
	margin-left: -90px;
	height: auto;
}

.header {
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 99;
}

@media all and (max-width: 767px) {
  .input {
    width: 90%;
    left: 0;
    margin-left: 2%;
  }
  .radiobutton {
    width: 90%;
    left: 0;
    margin-left: 2%;
  }

  .button {
    width: 90%;
    left: 0;
    margin-left: 3%;
  }

  .text {
    width: 90%;
    left: 0;
    margin-left: 2%;
  }

  .text-bold {
    width: 90%;
    left: 0;
    margin-left: 2%;
  }
}

@font-face {
  font-family: 'Telegrotesk Next Regular';
  src: url('telegrotesknext-regular.woff');
}

@font-face {
  font-family: 'Telegrotesk Next Thin';
  src: url('telegrotesknext-thin.woff');
}

@font-face {
  font-family: 'Telegrotesk Next Bold';
  src: url('telegrotesknext-bold.woff');
}
