name: ci-master
on:
  push:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: environment
      run: |
        export VERSION=$(git rev-parse --short ${GITHUB_SHA})
        echo "VERSION=${VERSION}" >> $GITHUB_ENV
    - name: docker build
      run: |
        docker build \
        --tag docker.pkg.github.com/${GITHUB_REPOSITORY}/cwa-verification-iam:latest \
        --tag docker.pkg.github.com/${GITHUB_REPOSITORY}/cwa-verification-iam:${VERSION} \
        --tag ${TRUSTED_URL}/${TRUSTED_REPOSITORY}/cwa-verification-iam:${VERSION} \
        .
      env:
        TRUSTED_URL: ${{ secrets.TRUSTED_URL }}
        TRUSTED_REPOSITORY: ${{ secrets.TRUSTED_REPOSITORY }}
    - name: docker push github
      run: |
        echo ${GITHUB_TOKEN} | docker login docker.pkg.github.com -u ${GITHUB_REPOSITORY_OWNER} --password-stdin
        docker push docker.pkg.github.com/${GITHUB_REPOSITORY}/cwa-verification-iam:latest
        docker push docker.pkg.github.com/${GITHUB_REPOSITORY}/cwa-verification-iam:${VERSION}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: docker push trusted
      run: |
        echo ${TRUSTED_TOKEN} | docker login ${TRUSTED_URL} -u ${TRUSTED_USER} --password-stdin
        export DOCKER_CONTENT_TRUST=1
        export DOCKER_CONTENT_TRUST_SERVER=${TRUSTED_SERVER_URL}
        export DOCKER_CONTENT_TRUST_ROOT_PASSPHRASE=${TRUSTED_TOKEN}
        export DOCKER_CONTENT_TRUST_REPOSITORY_PASSPHRASE=${TRUSTED_TOKEN}
        gpg --quiet --batch --yes --decrypt --passphrase=${TRUSTED_KEY} \
        --output trusted.key trusted.key.gpg
        chmod 600 trusted.key
        docker trust key load trusted.key --name user
        docker trust sign ${TRUSTED_URL}/${TRUSTED_REPOSITORY}/cwa-verification-iam:${VERSION}
        docker push ${TRUSTED_URL}/${TRUSTED_REPOSITORY}/cwa-verification-iam:${VERSION}
      env:
        TRUSTED_KEY: ${{ secrets.TRUSTED_KEY }}
        TRUSTED_URL: ${{ secrets.TRUSTED_URL }}
        TRUSTED_SERVER_URL: ${{ secrets.TRUSTED_SERVER_URL }}
        TRUSTED_REPOSITORY: ${{ secrets.TRUSTED_REPOSITORY }}
        TRUSTED_USER: ${{ secrets.TRUSTED_USER }}
        TRUSTED_TOKEN: ${{ secrets.TRUSTED_TOKEN }}
